body{
    padding: 0px;
    margin: 0px;
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
}

header{
    background-color: gray;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    background-color: lightblue;
    height: 60px;
    width: 60px;
    margin-left: 20px;
}

.paragrah{
    background-color: white;
    height: 300px;
    width: 100%;
}

.paragrah p{
    font-size: 14px;
    margin: 30px 25px;
}

.colored-box{
    height: 150px;
    width: 100%;
}

#blue-box{background-color: lightblue;}
#turquoise-box{background-color: turquoise;}
#green-box{background-color: lightgreen;}
#yellow-box{background-color: lightyellow;}

.parent{
    position:relative;
}

#circle {
    position: sticky;
    bottom: 10px;
    right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float:right;
}

#circle-child{
    font-size: 20px;
    color: white;
}